<div class="" id="console">
        <h2>Cloud</h2>
        <div class="row">
            <div class="module">
                <form>
                    <input type="radio" name="cleaned" value="cleaned">Cleaned Data
                    <input type="radio" name="raw" value="cleaned">Raw Data

                </form>
            </div>
            <div class="module">
                <select>
                    <option>1</option>
                    <option>4</option>
                    <option>8</option>
                    <option>12</option>
                    <option>16</option>
                </select>
            </div>
        </div>
        <div class="row">
                <button (click)="updateCanvas($event)">Begin Training</button>
        </div>
</div>